<p id="notice"><%= notice %></p>

<p>
  <strong>Wardid:</strong>
  <%= @expense.wardId %>
</p>

<p>
  <strong>Journaldate:</strong>
  <%= @expense.journalDate %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @expense.vendor %>
</p>

<p>
  <strong>Expensetype:</strong>
  <%= @expense.expenseType %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Account:</strong>
  <%= @expense.account %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
